.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.locations {
	height: 100%;
	width: 25%;
	border-right:solid #DDDDDD 1px;
}

.amenities {
	height: 100%;
	width: 25%;
}

h3 {
	font-weight: 600;
	margin-left: 40px;
	margin-bottom: 1px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	margin-top: 0.4px;
}

.amenities .popover,
.locations .popover {
	display: none;
	position: absolute;
	background-color: #FAFAFA;
	width: 17.8em;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;

}

.locations .popover li,
.amenities .popover li {
	margin-left: 40px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 15px;
  }

.locations .popover h2,
.amenities .popover h2 {
	margin-left: -15px;
	margin-bottom: 20px;
	margin-top: 30px;
	}

.locations:hover .popover {
	display: block;
	}

.amenities:hover .popover {
	display: block;
	}

.popover {
	overflow-y: auto;
	max-height: 300px;
	}

.popover ul {
	list-style: none;
	padding-left: 0px;
}

.locations .popover li h4 {
	margin-left: -35px;
}