.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	margin: 11px 30px;
	float: right;
}

.filters button:hover {
	opacity: 0.9;
}
